!!!

mixin Parameters(params)
    ul.list-group
        li.list-group-item.bg-default: strong Parameters
        li.list-group-item
            dl.dl-horizontal
                each name in Object.keys(params)
                    - var param = params[name]
                    dt= name
                    dd
                        code= param.type
                        | &nbsp;
                        if param.required
                            span.required (required)
                        else
                            span (optional)
                        | &nbsp;
                        if param.default
                            span.text-info.default
                                strong Default:&nbsp;
                                span= param.default
                            | &nbsp;
                        if param.example
                            span.text-muted.example
                                strong Example:&nbsp;
                                span= param.example
                        != markdown(param.description)
                        if param.values.length
                            p
                                strong Choices:&nbsp;
                                != '<code>' + param.values.join('</code>, <code>') + '</code>'

mixin RequestResponse(title, request)
    - var id = Math.round(Math.random() * 1000000)
    - var content = Object.keys(request.headers).length || request.body
    li.list-group-item
        strong
            = title
            if request.name
                | &nbsp;&nbsp;
                code= request.name
        if content
            a.pull-right(data-toggle="collapse", data-target="##{id}") Toggle
    if content
        li.list-group-item.collapse(id=id)
            if Object.keys(request.headers).length
                h5 Headers
                pre
                    code
                        each name in Object.keys(request.headers)
                            != highlight(name + ': ' + request.headers[name].value, 'http')
                            br
            if request.body
                h5 Body
                pre
                    code!= highlight(request.body)


mixin Examples(examples)
    ul.list-group
        each example in examples
            each request in example.requests
                +RequestResponse('Request', request)
            each response in example.responses
                +RequestResponse('Response', response)
                        
mixin ResourceGroup(resourceGroup)
    .panel.panel-default
        .panel-heading
            h3(id="resource-group-#{slug(resourceGroup.name)}")= resourceGroup.name
        .panel-body
            != markdown(resourceGroup.description)
            each resource in resourceGroup.resources
                h4(id="resource-#{slug(resource.name)}")= resource.name
                != markdown(resource.description)
                each action in resource.actions
                    case action.method
                        when 'POST': - var panelClass = 'panel-success'
                        when 'GET': - var panelClass = 'panel-info'
                        when 'PUT': - var panelClass = 'panel-warning'
                        when 'DELETE': - var panelClass = 'panel-danger'
                    section.panel(class=panelClass, id="#{slug(resourceGroup.name)}-#{slug(resource.name)}-#{slug(action.method)}")
                        .panel-heading
                            if action.name
                                span.pull-right(style="text-transform: lowercase")= action.name
                            case action.method
                                when 'POST': - var btnClass = 'btn-success'
                                when 'GET': - var btnClass = 'btn-info'
                                when 'PUT': - var btnClass = 'btn-warning'
                                when 'DELETE': - var btnClass = 'btn-danger'
                            span.btn.btn-xs(class=btnClass)= action.method
                            | &nbsp;
                            code= resource.uriTemplate
                        .panel-body!= markdown(action.description)

                        - var params = Object.keys(action.parameters).length ? action.parameters : resource.parameters
                        if Object.keys(params).length
                            +Parameters(params)
                        if action.examples
                            +Examples(action.examples)

mixin Icon(method)
    case method
        when 'GET'
            i.fa.fa-arrow-circle-down
        when 'POST'
            i.fa.fa-plus-square
        when 'PUT'
            i.fa.fa-pencil
        when 'PATCH'
            i.fa.fa-pencil
        when 'DELETE'
            i.fa.fa-warning
        default
            i.fa.fa-dot-circle-o

html
    head
        meta(charset="utf-8")
        link(rel="stylesheet", href="http://netdna.bootstrapcdn.com/bootswatch/3.0.1/slate/bootstrap.min.css")
        link(rel="stylesheet", href="http://netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.min.css")
        link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Roboto:400,700|Inconsolata|Raleway Dots")
        style.
            /* Highlight.js Theme */
            pre{background:#272b30;border:1px solid rgba(255, 255, 255, 0.2)}
            pre code{display:block;padding:.5em;background:#272b30}pre .tag,pre code{color:#f8f8f2}pre .change,pre .clojure .built_in,pre .flow,pre .function,pre .keyword,pre .lisp .title,pre .literal,pre .nginx .title,pre .tex .special,pre .winutils{color:#66d9ef}pre .params,pre .variable{color:#fd9720}pre .constant{color:#66d9ef}pre .class .title,pre .css .class,pre .title{color:#a6e22e}pre .attribute,pre .css .tag,pre .symbol,pre .symbol .string,pre .tag .title,pre .value{color:#f92672}pre .number,pre .preprocessor,pre .regexp{color:#ae81ff}pre .addition,pre .apache .cbracket,pre .apache .tag,pre .attr_selector,pre .built_in,pre .css .id,pre .django .filter .argument,pre .django .template_tag,pre .django .variable,pre .envvar,pre .haskell .type,pre .prompt,pre .pseudo,pre .ruby .class .parent,pre .smalltalk .array,pre .smalltalk .class,pre .smalltalk .localvars,pre .sql .aggregate,pre .stream,pre .string,pre .subst,pre .tag .value,pre .tex .command{color:#e6db74}pre .apache .sqbracket,pre .comment,pre .deletion,pre .doctype,pre .java .annotation,pre .javadoc,pre .pi,pre .python .decorator,pre .shebang,pre .template_comment,pre .tex .formula{color:#75715e}pre .coffeescript .javascript,pre .javascript .xml,pre .tex .formula,pre .xml .cdata,pre .xml .css,pre .xml .javascript,pre .xml .vbscript{opacity:.5}
        :stylus
            body, h4, h5
                font-family 'Roboto' sans-serif !important

            h1, h2, h3
                font-family 'Raleway Dots' sans-serif !important

            code
                color #222
                background-color #aaa
                font-family 'Inconsolata' monospace !important

            a[data-target]
                cursor pointer

            h4
                font-size 100%
                font-weight bold
                text-transform uppercase

            .back-to-top
                position fixed
                z-index 1
                bottom 0px
                right 24px
                padding 4px 8px
                color #aaa
                background-color #171b20
                text-decoration none !important
                border-top 1px solid rgba(0, 0, 0, 0.1)
                border-left 1px solid rgba(0, 0, 0, 0.1)
                border-right 1px solid rgba(0, 0, 0, 0.1)
                border-top-left-radius 3px
                border-top-right-radius 3px

            .panel-heading
                code
                    color #97000e
                    background-color transparent
                h3
                    margin-top 10px
                    margin-bottom 10px

            a.list-group-item
                white-space nowrap
                text-overflow ellipsis
                overflow hidden

            .list-group-item.collapse
                display none
    body
        a.text-muted.back-to-top(href='#top')
            i.fa.fa-toggle-up
            | &nbsp;Back to top
        .container
            .row
                nav.col-md-3(style="margin-top: 38px;")
                    each resourceGroup in api.resourceGroups
                        .list-group
                            a.list-group-item(href="#resource-group-#{slug(resourceGroup.name)}")
                                i.fa.fa-folder-open
                                | &nbsp;
                                = resourceGroup.name || 'Resource Group'
                            each resource in resourceGroup.resources
                                if resource.actions.length != 1
                                    a.list-group-item(href="#resource-#{slug(resource.name)}", style="padding-left: 32px;")
                                        i.fa.fa-list
                                        | &nbsp;
                                        = resource.name || 'Resource'
                                    each action in resource.actions
                                        a.list-group-item(href="##{slug(resourceGroup.name)}-#{slug(resource.name)}-#{slug(action.method)}", style="padding-left: 48px")
                                            +Icon(action.method)
                                            | &nbsp;
                                            = action.name || action.method + ' ' + resource.uriTemplate
                                else
                                    a.list-group-item(href="#resource-#{slug(resource.name)}", style="padding-left: 32px;")
                                        - var action = resource.actions[0]
                                        +Icon(action.method)
                                        | &nbsp;
                                        = resource.name || action.name || action.method + ' ' + resource.uriTemplate
                    if api.metadata && api.metadata.HOST
                        p(style="text-align: center")
                            a(href=api.metadata.HOST.value)= api.metadata.HOST.value

                .col-md-9
                    header
                        .page-header
                            h1#top= api.name
                
                    .description!= markdown(api.description)

                    each resourceGroup in api.resourceGroups
                        +ResourceGroup(resourceGroup)

        p.text-muted(style="text-align: center;")
            | Generated by 
            a(href="http://github.com/danielgtaylor/aglio") aglio
            |  on #{date().format('DD MMM YYYY')}


    script(src="http://code.jquery.com/jquery-1.10.1.min.js")
    script(src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js")
    :coffee
        $('table').addClass 'table'
